.center {
    margin: auto;
    width: fit-content;
    border: 3px solid #007a9b;
    padding: 10px;
    text-align: center;
    background-color: antiquewhite;
}

.center h2 {
    color: purple;
    font-size: 25px;

}

.box {
    margin-bottom: 15px;
    display: flex;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    margin-left: 20px;
    text-align: center;
}

.btns {
    margin: auto;
    padding: 10px;
    text-align: center;
    gap: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
}

.addbutton {
    background-color: blueviolet;
    color: white;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    width: 80px;
}

.exitbutton {
    background-color: brown;
    color: white;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    width: 80px;
}

.bx-plus-medical,
.bx-search-alt-2,
.bxs-edit,
.bx-trash,
.bx-exit {
    font-size: 15px !important;
    margin-top: 3px;
}

.bx-plus-medical {
    color: greenyellow;
}

.bxs-edit {
    color: rgb(0, 195, 255);
}

button {
    gap: 10px;
}