{% extends "web/base.html" %}
{% load static %}
{% block content %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'web/css/acc-master-list.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
 <style>
    .example {
    /* margin: auto; */
    /* max-width: 300px;
    padding-top: 50px; */
    float: left;
    margin-left: 22.5%;
    margin-top: 100px;
    width: 200px;
    display: flex;
  }

  .example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    float: left;
    width: 80%;
    background: #f1f1f1;
    /* border-radius: 5px 0 0 5px; */
  }

  .example button {
    /* float: left; */
    width: 23%;
    /* padding: 10px; */
    background: #2196F3;
    color: white;
    font-size: 12px;
    border: 1px solid #2196F3;
    border-left: none;
    cursor: pointer;
    /* border-radius: 0 5px 5px 0; */
  }

  .example button:hover {
    background: #0b7dda;
  }

  .example button i {
    font-size: 13px;
  }
 </style>




  <!-- <form class="example">
    <input type="text" placeholder="Search Head.." name="search" id="search-input" value="{{ request.GET.search }}">
    <button style="width: 40px; background-color: #0d82fe;" type="submit"><i class="fa fa-search"></i></button>
  </form> -->


<div style="padding-top: 100px; padding-right: 20px;" class="lg:col-span-3 lg:col-start-10">
    <div class="flex gap-2 lg:justify-end">
      <a href="{% url 'core:company_details_master' %}">
        <button data-modal-target="addUserModal" type="button" class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20"><i data-lucide="plus" class="inline-block size-4"></i> <span class="align-middle">Add</span></button>
      </a>
    </div>
  </div>



    <div class="container1">
        <div class="row">
            <div class="col-lg-6">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list" style="padding-top: 30px; padding-left: 22%;">
                            <thead>
                                <tr>
                                    <th><span>Co Id</span></th>
                                    <th><span>Company Name</span></th>
                                    <th class="text-center"><span>Pin Code</span></th>
                                    <th><span>Mobile Number</span></th>
                                    <th><span>View</span></th>
                                    <!-- <th><span>Phone Number</span></th> -->
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for companylist in companylists %}
                                <tr>
                                    <td class="text-center" style="width: 2%;">
                                        <img src="" alt="">
                                        <a href="#" class="user-link">{{ companylist.company_id }}</a>
                                    </td>
                                    <td style="text-transform: capitalize; text-transform: uppercase;">{{ companylist.companyname }}</td>
                                    <td class="text-center">
                                        <span class="label label-default">{{ companylist.pinCode }}</span>
                                    </td>
                                    <td>
                                        <span class="label label-success">{{ companylist.mobile }}</span>
                                    </td>
                                    <!-- <td>
                                        <span class="label label-success">{{ companylist.mobile }}</span>
                                    </td> -->
                                    <td style="width: 2%;">
                                        {% if companylist.slug %}
                                        <a href="{{ companylist.get_absolute_url }}" class="table-link" >
                                            <span class="fa-stack">
                                                <svg style="padding-top: 0px;" xmlns="http://www.w3.org/2000/svg" width="20" height="30"
                                                    fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                                    <path
                                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                                </svg>
                                            </span>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">No</span>
                                        {% endif %}
                                    </td>
                                   
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="results-container"></div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#search-input').on('keyup', function(){
                var query = $(this).val();
                $.ajax({
                    url: '{% url "core:acc_master_list" %}',
                    data: {'search': query},
                    dataType: 'json',
                    success: function(data){
                        $('#results-container').empty();
                        $.each(data.results, function(index, item){
                            $('#results-container').append('<div>' + item.head + '</div>');
                        });
                    }
                });
            });
        });
    </script>
    

    <script>
        fetch('{% url "core:acc_master_list" %}', {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            // process data
        });
    </script>
    
    
    
    
    {% endblock %}
