{% extends "web/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'web/css/acc_debit_credit.css' %}">
<link rel="stylesheet" href="{% static 'web/js/search.js' %}">
<link rel="stylesheet" href="{% static 'web/css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<div class="container-fluid group-data-[content=boxed]:max-w-boxed mx-auto">
    <h4 class="py-5"></h4>
    <div class="center">
        <h2>Debit Note</h2>
        <h4 class="py-5"></h4>

        <form method="post" action="" class="mb-5">
            {% csrf_token %}
            <div class="firstdiv">
                <div class="firstdivright">
                    <label for="series">Series</label>
                    <select name="series" id="series" onchange="updateSerialNumber()" required>
                        <option value="" selected disabled>--Select--</option>
                        {% for option in series_options %}
                        <option value="{{ option.series }}" data-serial="{{ option.serial_no }}" {% if option.series == series %}selected{% endif %}>{{ option.series }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="firstdivright">
                    <label for="serial_no" style="margin-right: 3px;">Serial No</label>
                    <input style="width: 50%; margin: 0;" type="text" class="newinput" name="serial_no" id="serial_no" value="{{ serial_no }}" readonly>
                </div>

                <div class="firstdivright">
                    <label style="margin-right: 3px;" for="date">Date</label>
                    <input style="width: 50%; margin: 0;" type="date" class="newinput" name="date" id="date" required>
                </div>
            </div>

            <br><br><br>

            <table id="dynamicTable" style="background-color: white !important;">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Head</th>
                        <th>Narration</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="py-1">
                        <td style="width: 2%;">1</td>
                        <td style="width: 30%;">
                            <select name="head1" id="head1" class="newinput" onchange="updateAccountCode(this)" required>
                                <option value="" selected disabled>---select---</option>
                                {% for head_option in head_options %}
                                <option value="{{ head_option.account_code }}" data-account-code="{{ head_option.account_code }}">{{ head_option.head }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="width: 25%;"><input type="text" class="newinput" name="narration1" id="narration1"></td>
                        <td style="width: 9%;"><input type="text" class="newinput" name="debit1" id="debit1" oninput="updateCreditAndTotal()"></td>
                        <td style="width: 9%;"><input type="text" class="newinput" name="credit1" id="credit1" readonly></td>
                    </tr>
                    <tr class="py-1">
                        <td>2</td>
                        <td style="width: 30%;">
                            <select name="head2" id="head2" class="newinput" onchange="updateAccountCode(this)" required>
                                <option value="" selected disabled>---select---</option>
                                {% for head_option in head_options %}
                                <option value="{{ head_option.account_code }}" data-account-code="{{ head_option.account_code }}">{{ head_option.head }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="width: 25%;"><input type="text" class="newinput" name="narration2" id="narration2"></td>
                        <td style="width: 9%;"><input type="text" class="newinput" name="debit2" id="debit2" oninput="updateCreditAndTotal()"></td>
                        <td style="width: 9%;"><input type="text" class="newinput" name="credit2" id="credit2" readonly></td>
                    </tr>
                </tbody>
            </table>

            <div style="text-align: center;">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script>
    function updateSerialNumber() {
        var seriesSelect = document.getElementById("series");
        var serialNumberInput = document.getElementById("serial_no");

        var selectedOption = seriesSelect.options[seriesSelect.selectedIndex];
        var serialNumber = selectedOption.getAttribute("data-serial");

        serialNumberInput.value = serialNumber;
    }
</script>
{% endblock %}
